table {
    border-collapse:collapse;
    margin:0px auto
}

table,th, td {
    border: 1px solid white;
}

th,td {
    text-align:center;
}


body {
    background-color:black;
    color: white
}

a:link,
a:visited {
    color:white;
    text-decoration:underline;
}
a:hover,
a:active {
    color:lightblue;
    text-decoration:none;
}